<div class="navbar-header">
    <a class="navbar-brand" href="<%= hostName %>"><img class="img-circle" src="<% if (imgSrc) { %> <%= imgSrc %> <% } else { %> <%= hostName %>/icon.png %> <% } %>" alt="Icon" style="width: 28px; height: 28px;"></a>
    <a class="navbar-brand" href="<%= hostName %>"><%= header %></a>
</div>